<form>
  <div class="mb-3">
    <label for="post-title" class="form-label">Title</label>
    <input type="text" class="form-control" id="title">

    <label for="new-post" class="form-label">Type a new post!</label>
    <textarea type="text" class="form-control" rows="5" id="content"></textarea>
  </div>
  <button type="submit" class="btn btn-primary" id="create-post">Create Post</button>
</form>