<form>
  <div class="mb-3">
    <label for="new-post" class="form-label">Type a new post!</label>
    <textarea type="text" class="form-control" rows="5"></textarea>
  </div>
  <button type="submit" class="btn btn-primary" id="create-post">Create Post</button>
</form>