<div class="card mx-auto" style="width: 75rem;">
  <div class="card-body">
    <div class="col-md-5">
      <h2>{{post.title}}</h2>
      <p>{{post.content}}</p>
      <p class="card-subtitle mb-2 text-body-secondary">Posted by: {{post.user.name}}</p>
      <p class="card-subtitle mb-2 text-body-secondary">{{format_date post.date_created}}</p>
    </div>
  </div>
</div>

<div class="card mx-auto mt-3" style="width: 75rem;">
  <div class="card-body">
    <form>
      <div class="mb-3">
        <input type="text" class="form-control" id="title">

        <button type="submit" class="btn btn-primary mt-3" id="comment">Add Comment</button>
    </form>
  </div>
</div>